$font-weight: ("Black":bolder,
                "Bold":bold,
                "Light":100,
                "Semibold":600,
                "Thin":200,
                "Regular":normal);

$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 24px;

@function strip-unit($value) {
    @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
    $u1: unit($min-vw);
    $u2: unit($max-vw);
    $u3: unit($min-font-size);
    $u4: unit($max-font-size);

    @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
        & {
        font-size: $min-font-size;
        @media screen and (min-width: $min-vw) {
            font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
            }
        @media screen and (min-width: $max-vw) {
            font-size: $max-font-size;
                }
        }
    }
}

@each $name,$weight in $font-weight {
    @font-face {
        font-family: "Lato";
        src: url("./Lato-#{$name}.ttf") format('truetype');
        font-weight: $weight;
    }    
    .#{to-lower-case($name)}{
        font-weight: $weight;
    }
}
html{
    @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

body{
    font-family: 'Lato', sans-serif;
    color: black;
    overflow-wrap: break-word;
    text-align: unset;
}

p{
    font-size: 1.1rem;
}

.active{
    font-weight: bolder;
    transition: 0.25s;
}

.container{
    max-width: 80%;
}

.part{
    margin-top:3.8rem;
    margin-bottom:5rem;
    opacity: 0;
    transition: opacity 1s;
    @media screen and (max-width: 500px) {
        margin-top: 2rem;
    }
}
.scroll-watch-in-view{
    opacity: 1;
}

.navbar-menu{
    margin-left: auto;
    height: 100%;
    a{
        transition: 0.25s;
        color: black;
        text-decoration: none;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 1.13rem;
    }
}

.navbar-scrolled{
    margin-right: auto;
}

.no-style, .no-style:hover, .no-style>*, .no-style:hover>*{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.navbar{
    padding: 20px;
    position: fixed;
    z-index: 2;
    transition: all 1s;
    width: 100%;
}

hr{
    border-bottom: solid #22232A 1pt;
    width: 85%;
}

.landing-page{
    img{
        z-index: -1;
    }
    
}

.title{
    font-size: 3rem; 
    font-weight:bold;
    transform: translateX(-100px);
    opacity: 0;
    transition: 1s;
}

.title-view, .subtitle-view{
    opacity: 1;
    transform: translateX(0px);
}

.subtitle{
    opacity: 0;
    font-size: 1.2rem;
    font-weight: 100;
    transition: 1s;
    transform: translateX(-100px);
    transition-delay: 0.25s;
}

@keyframes from-left {
    from{
        transform: translateX(-25vw);
        opacity: 0;
    }   
    to{
        transform: translateX(0px);
        opacity: 1;
    }    
}

@keyframes from-right{
    from{
        transform: translateX(25vw);
        opacity: 0;
    }   
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}

#home-img {
    animation: from-left 1s;
}

.greetings{
    animation: from-right 1s;
    h1{
        color: #495054; 
        font-weight: bold; 
        font-size: 3.3rem;
        span{
            color:black;
        }
    }
    h3{
        font-size: 2.1rem;
    }

    h2{
        font-weight: 600; font-size: 2.2rem;
    }
}

.edu-detail-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.edu-detail{
    transition: 1s;
    max-width: 400px;
    padding: 10px;
    border-radius: 10px;
}

.edu-detail:hover{
    transform: translate(-5px,-10px);
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.25);
}

.edu-detail-text{
    h4{
        font-weight: bold;
    }
    h3{
        font-weight: bold;
    }
}

.card-self{
    display: flex;
    flex-direction: column;
    width: auto;
    flex-basis: auto;
    padding: 20px;
    border-radius: 10px;
    border: none;
    max-width: 400px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
}

.project-detail{
    > img{
        margin-right: 0.6rem;
    }
}

.achievement-card-1{
    background: linear-gradient(180deg, rgba(227, 232, 234, 0) 52.6%, #E3E8EA 100%), 
        linear-gradient(0deg, rgba(227, 232, 234, 0.12), rgba(227, 232, 234, 0.12)),
        url("../PHOTO.svg") no-repeat;
    border-radius: 10px;
    max-width: 16.5rem;
    height: 25rem;
    background-size: 20rem;
    background-position: center;
    box-shadow: 2.5px 2.5px 30px rgba(0, 0, 0, 0.25);
    position: relative;
    > div{
        position: absolute;
        bottom: 0.5rem;
    }
}

#skill-lists{
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: flex-start;
    @media screen and (max-width: 500px) {
        justify-content: center;
    }
}

.contact-img{
    max-height: 3.5rem;
    margin: 0 0.25rem;
}

div.vertical-border{
    width: 2px; max-height: 100%; background: black;
    @media screen and (max-width: 1350px) {
        display: none;
    }
}


